@font-face {
  font-family: Ris;
  src: url("../fonts/Ristretto_Pro/RistrettoPro-Regular.otf") format("opentype");
}

@font-face {
  font-family: Ris;
  src: url("../fonts/Ristretto_Pro/RistrettoPro-Bold.otf") format("opentype");
  font-weight: bold;
}

html, body {
  height: 100%;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

.wrapper {
  width: 100%;
  height: 100%;
}

.intro, .div-2 {
  width: 100%;
  height: 100%;
}

.intro {
  background: url(../img/intro.jpg);
  background-size: cover;
}

.intro > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.intro > div .intro__order {
  margin-top: -75px;
  margin-bottom: 60px;
}

.intro > div .intro__order span:nth-child(1) {
  display: block;
  font-size: 14px;
  color: #f4f4f4;
  line-height: 14px;
  text-align: center;
}

.intro > div .intro__order span:nth-child(2) {
  font-size: 30px;
  color: #afcb08;
  text-align: center;
}

.intro > div .intro__logo {
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
  height: 90px;
  width: 448px;
  background: url(../img/logo-back.png);
}

.intro > div .intro__logo > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  position: relative;
  top: 10px;
  left: 8px;
}

.intro > div .intro__logo div.intro__logo__owl-img {
  background: url(../img/logo.png);
  height: 66px;
  width: 73px;
  display: inline-block;
  position: relative;
  top: -10px;
  left: 5px;
  margin-right: 10px;
}

.intro > div .intro__logo span {
  font-size: 55px;
  display: inline-block;
  margin-top: -15px;
  color: white;
  font-family: Ris;
  text-transform: uppercase;
}

.intro > div .intro__logo-sub span {
  color: white;
  font-size: 30.69px;
  font-family: Ris;
  letter-spacing: 4px;
}

.intro > div .intro__logo-sub span i {
  font-size: 8px;
  top: -6px;
  position: relative;
  margin: 0px 0px;
}

.intro > div .intro__be-owl {
  margin-top: 40px;
  margin-left: -15px;
}

.intro > div .intro__be-owl .intro_be-owl-text, .intro > div .intro__be-owl .intro__be-owl-sub {
  display: block;
}

.intro > div .intro__be-owl span {
  text-align: center;
  color: white;
}

.intro > div .intro__be-owl .intro_be-owl-text {
  font-size: 137px;
  text-transform: uppercase;
  font-family: Ris;
}

.intro > div .intro__be-owl .intro_be-owl-text span {
  color: #89094d;
}

.intro > div .intro__be-owl .intro__be-owl-sub {
  font-family: Ris;
  font-size: 36px;
  margin-top: -30px;
}

.best-coffe {
  width: 100%;
  height: 100%;
  background-image: url(../img/2/white-cup.png), url(../img/2/bag.png), url(../img/2/holy-spoon.png), url(../img/2/best-coffe.jpg);
  background-position: 10% 55%,87% 75%, 20% 90%,  top left;
  background-size: 250px,29%,10%, cover;
  background-repeat: no-repeat;
}

.best-coffe > .container {
  height: 100%;
  display: flex;
  margin-top: -40px;
}

.best-coffe > .container .best-coffe__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  margin-top: -35px;
  margin-right: -4px;
}

.best-coffe > .container .best-coffe__text:before {
  content: '';
  height: 73px;
  width: 100%;
  background: url("../img/2/green-cup.png");
  background-repeat: no-repeat;
  background-position: center center;
}

.best-coffe > .container .best-coffe__text .title {
  color: white;
  font-family: Ris;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1.3;
  position: relative;
}

.best-coffe > .container .best-coffe__text .title img {
  position: absolute;
  top: -15px;
  left: -20px;
}

.best-coffe > .container .best-coffe__text .sub {
  color: white;
  font-family: "Open Sans";
  font-size: 16px;
  text-align: center;
  line-height: 1.3;
}

@media screen and (min-width: 1200px) {
  .best-coffe {
    background-position: 10% 55%,87% 75%, 20% 90%,  top left;
    background-size: 240px, 350px, 10%, cover;
  }
}
